.clean-page {
  display: none;
  
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .container {
      display: flex;
      flex-direction: column;
      flex: 1;
    
      .text-area {
        font-size: 15px;
        line-height: 20px;
    
        >div {
          margin-top:15px
        }
        
        ul  {
          margin: 0px;
        }
      }
    }
    
    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 125px;
      position: relative;
    }
        
    .description {
      width: 100%;
      position: absolute;
      bottom: 20px;
  
      ul {
        padding-top: 10px;
        padding-left: 18px;
        line-height: 16px;
        margin: 0;
        width: 100%;
  
        li {
          font-size: 12px;
          color: $grey-color
        }
      }
    }
  }
}