.clean-page-result {
    display: none;
    padding: 0;
    font-weight: 900;
  
    .back-section {
      padding: 20px;
      width: initial;
      height: 24px;
    }
  
    .title {
      padding: 0 20px;
    }
  
    .container {
      padding: 0 36px;
      margin-top: 10px;
      position: relative;
      height: calc(100% - 120px);
      overflow: auto;
  
      .text-area {
      height: 325px;
      font-size: 15px;
      line-height: 3px;
      }
  
      .botton-area {
      display: flex;
      justify-content: space-around;
      padding-bottom: 20px;
      }
    }
  }