.insurance-page01 {
    display: none;
  
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
  
      .container {
        display: flex;
        flex-direction: column;
        flex: 1;
  
        >div {
          font-size: 14px;
          padding-top: 20px;
        }
      }
  
      .bottom {
        height: 125px;
      }
    }
  }