.insurance-page01 {
  display: none;
}
.insurance-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.insurance-page01 .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.insurance-page01 .wrapper .container > div {
  font-size: 14px;
  padding-top: 20px;
}
.insurance-page01 .wrapper .bottom {
  height: 125px;
}