.network-page {
    display: none;
    padding: 0;
    font-weight: 900;
    color: #988c8c;
  
    .back-section {
      padding: 20px;
      width: initial;
      height: 24px;
  
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  
    .title {
      padding: 0 20px;
    }
  
    .container {
      padding: 0 36px;
      margin-top: 10px;
      position: relative;
      height: calc(100% - 120px);
      overflow: auto;
  
      .subtitle {
        height: 25px;
        font-size: 12px;
      }
  
      .choice {
        height: 220px;
        font-size: 15px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.678);
      }
  
      .bottonarea {
      display: flex;
      justify-content: space-around;
      padding-bottom: 20px;
      }
  
      .Description {
        padding-left: 18px;
        line-height: 16px;
  
        li {
          font-size: 12px;
          color:grey
        }
      }
    }
  }