$grey-color: #848484;


.rent-house-page {
    display: none;
    color: $grey-color;
  
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    .back-section {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  
    .container {
      margin-top: 10px;
      position: relative;
      flex: 1;
      overflow: auto;
      display: flex;
      flex-direction: column;
  
      .choice {
        width: 100%;
        font-size: 15px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.678);
        flex: 1;
        padding-top: 15px;
      
        .checkbox{
          
          >div{
            margin-left: 25px;
          }
        }
      }
    }

    .bottom {
      height: 100px;
    }
  }