.rent-house-page01 {
    display: none;
  
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    .container {
      margin-top: 10px;
      position: relative;
      flex: 1;
      overflow: auto;
      display: flex;
      flex-direction: column;
  
      >div {
        font-size: 14px;
        padding-top: 20px;
      }
    }
  
    .bottom {
        height: 100px;
    }
  }