.repair-page {
  display: none;
}
.repair-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.repair-page .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.repair-page .wrapper .container > div, .repair-page .wrapper .container ul {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
.repair-page .wrapper .container textarea {
  width: 100%;
  border-color: #848484;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
  font-size: 14px;
}
.repair-page .wrapper .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 125px;
  position: relative;
}
.repair-page .wrapper .description {
  width: 100%;
  position: absolute;
  bottom: 8px;
}
.repair-page .wrapper .description ul {
  padding-top: 10px;
  padding-left: 18px;
  line-height: 16px;
  margin: 0;
  width: 100%;
}
.repair-page .wrapper .description ul li {
  font-size: 12px;
  color: #848484;
}