$grey-color: #848484;

.repair-page {
    display: none;
  
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
  
      .container {
        display: flex;
        flex-direction: column;
        flex: 1;
  
        >div,ul {
          font-size: 14px;
          line-height: 22px;
          margin: 0;
        }
  
        textarea {
          width: 100%;
          border-color: $grey-color;
          border-radius: 5px;
          margin-top: 20px;
          padding: 5px;
          font-size: 14px;
        }
      }
  
      .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 125px;
        position: relative;
      }
  
      .description {
        width: 100%;
        position: absolute;
        bottom: 8px;
  
        ul {
          padding-top: 10px;
          padding-left: 18px;
          line-height: 16px;
          margin: 0;
          width: 100%;
  
          li {
            font-size: 12px;
            color: $grey-color
          }
        }
      }
    }
  }