@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Arial", "黑體", "微軟正黑體", sans-serif;
}

h2 {
  color: #2f2260;
  border-left: 5px solid #20b6c4;
  padding-left: 10px;
  font-size: 20px;
  margin: 0;
  width: 100%;
  height: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

p {
  margin: 0;
  color: #848484;
  font-size: 14px;
  line-height: 24px;
}

button {
  border: 1px solid #20b6c4;
  background: #fff;
  border-radius: 3px;
  padding: 5px 0;
  min-width: 125px;
}
button:focus {
  outline: none;
}

.checkbox span {
  padding-left: 10px;
}

.page {
  width: 100%;
  height: calc(100% - 120px);
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}
.page .back-section {
  width: 100%;
  height: 24px;
  padding-bottom: 20px;
}
.page .back-section i {
  font-size: 24px;
  color: #988c8c;
}
.page .container {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 68px);
}

.bottom {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.bottom .button-group {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.bottom .button-group > button + button {
  margin-left: 20px;
}

.description {
  padding: 0 26px;
}
.description ul {
  padding-left: 18px;
  margin: 0;
}
.description ul li {
  font-size: 14px;
  line-height: 24px;
  color: #848484;
}

.input-group {
  display: flex;
  border-bottom: 1px solid #848484;
}
.input-group label {
  flex: 1;
}
.input-group input {
  border: none;
  flex: 2;
}
.input-group input:focus {
  outline: none;
}

header {
  width: 100%;
  height: 70px;
  color: #fff;
  background: #20b6c4;
  font-size: 22px;
  display: flex;
}
header .header-button {
  width: 22px;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-button i {
  font-size: 22px;
  color: #fff;
}
header .logo {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  height: 70px;
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  color: #848484;
  bottom: 0;
  border-top: 1px solid #e4e4e4;
  box-sizing: border-box;
}
footer img {
  width: 20px;
  height: 20px;
}
footer .tab-bars {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  line-height: 1;
}
footer .tab-bars .bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 50px;
  width: 100%;
}
footer .tab-bars .bar .icon {
  width: 20px;
  height: 20px;
}
footer .tab-bars .bar .icon.home {
  background: url("../images/home.png") center center no-repeat;
  background-size: contain;
}
footer .tab-bars .bar .icon.calendar {
  background: url("../images/calendar.png") center center no-repeat;
  background-size: contain;
}
footer .tab-bars .bar > div + div {
  padding-top: 2px;
}
footer .tab-bars .bar.active {
  color: #20b6c4;
}
footer .tab-bars .bar.active .icon.home {
  background: url("../images/home-active.png") center center no-repeat;
  background-size: contain;
}
footer .tab-bars .bar.active .icon.calendar {
  background: url("../images/calendar-active.png") center center no-repeat;
  background-size: contain;
}
footer .qrcode {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.navgation-drawer {
  width: 200px;
  height: 100%;
  background: #f1f1f3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 70px 0;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
  display: none;
}
.navgation-drawer .item {
  padding: 0 20px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #848484;
  box-sizing: border-box;
  cursor: pointer;
}
.navgation-drawer .item.active {
  background: #d1d2d4;
}
.navgation-drawer .sub-item {
  background: #e6e7e9;
  display: none;
}
.navgation-drawer .sub-item .item {
  font-size: 14px;
}

.home-page {
  width: 100%;
  height: calc(100% - 120px);
  position: relative;
}
.home-page .banner {
  width: 100%;
  height: 59%;
  background: url(../images/tablecloth.jpg) center center no-repeat;
  background-size: cover;
}
.home-page .menu {
  width: 100%;
  height: 50%;
  background: #fff;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  color: #20b6c4;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}
.home-page .menu .menu-item {
  width: calc(100% / 3);
  height: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-page .menu img {
  width: 60px;
  height: 60px;
}

.reservation-page {
  display: none;
  padding: 25px 55px;
}
.reservation-page .menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.reservation-page .menu {
  border: 1px solid #848484;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}
.reservation-page .menu .image {
  padding: 0;
  display: block;
  width: 100%;
  height: 110px;
}
.reservation-page .menu .image.meeting-room {
  background: url(../images/reservation01.jpg) center center no-repeat;
  background-size: cover;
}
.reservation-page .menu .image.gym {
  background: url(../images/reservation02.jpg) center center no-repeat;
  background-size: cover;
}
.reservation-page .menu .image.spa {
  background: url(../images/reservation03.jpg) center center no-repeat;
  background-size: cover;
}
.reservation-page .menu > div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.reservation-page01 {
  display: none;
}
.reservation-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservation-page01 .back-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reservation-page01 .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.reservation-page01 .container > div + div {
  margin-top: 20px;
}
.reservation-page01 .container .input-field {
  position: relative;
}
.reservation-page01 .container .input-field.date::before {
  background: url("../images/input-date.png") no-repeat center center;
  background-size: contain;
}
.reservation-page01 .container .input-field.time::before {
  background: url("../images/input-time.png") no-repeat center center;
  background-size: contain;
}
.reservation-page01 .container .input-field.join::before {
  background: url("../images/input-select.png") no-repeat center center;
  background-size: contain;
  width: 15px;
  height: 15px;
  right: 27px;
}
.reservation-page01 .container .input-field::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.reservation-page01 input {
  padding: 20px;
  background: #f2f2f2;
  border: none;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
.reservation-page01 input[type=date]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: none;
  width: 20px;
  height: 20px;
  border-width: thin;
}
.reservation-page01 input[type=time]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: none;
  width: 20px;
  height: 20px;
  border-width: thin;
}
.reservation-page01 .bottom {
  height: 70px;
}
.reservation-page01 .bottom .button-group {
  padding-top: 15px;
}

.reservation-page02 {
  display: none;
}
.reservation-page02 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservation-page02 .back-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reservation-page02 .container {
  margin-top: 10px;
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.reservation-page02 .container .choice {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.678);
  flex: 1;
}
.reservation-page02 .container .choice > div + div {
  margin-top: 20px;
}
.reservation-page02 .container .input-field {
  display: flex;
  align-items: center;
}
.reservation-page02 .container .input-field img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.reservation-page02 .container .input-field input {
  flex: 1;
}
.reservation-page02 .bottom {
  height: 70px;
}
.reservation-page02 .bottom .button-group {
  padding: 15px 0 25px;
}

.reservation-page03 {
  display: none;
}
.reservation-page03 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservation-page03 .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.reservation-page03 .container p {
  margin-bottom: 10px;
}
.reservation-page03 .container .title {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 0 5px;
  margin-bottom: 10px;
}
.reservation-page03 .container .block.open {
  border-radius: 10px;
  background: #f2f2f2;
}
.reservation-page03 .container .block.open .content {
  display: block;
}
.reservation-page03 .container .block.open .footer {
  display: flex;
}
.reservation-page03 .container .block.other .content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.reservation-page03 .container .block .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 10px;
}
.reservation-page03 .container .block .header i {
  color: #848484;
}
.reservation-page03 .container .block .content {
  display: none;
  padding: 5px 38px;
  font-size: 12px;
  line-height: 18px;
}
.reservation-page03 .container .block .footer {
  display: none;
  color: #20b6c4;
  background: #e6e7e9;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  padding: 10px 0;
}
.reservation-page03 .container > .block + .block {
  margin-top: 15px;
}
.reservation-page03 .container .input-field input[type=radio] {
  display: none;
}
.reservation-page03 .container .input-field input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  margin-right: 5px;
  background-clip: content-box;
  border: 1px solid #20b6c4;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.reservation-page03 .container .input-field input[type=radio]:checked + label:before {
  background-color: #20b6c4;
}
.reservation-page03 .container .input-field label {
  display: flex;
  align-items: center;
}
.reservation-page03 .bottom {
  height: 70px;
}
.reservation-page03 .bottom .button-group {
  padding: 15px 0 25px;
}

.reservation-page04 {
  display: none;
  font-size: 13px;
  color: #8e8e8e;
}
.reservation-page04 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservation-page04 .schedules {
  position: relative;
  display: flex;
  height: 100%;
  border: 1px solid #d2d2d2;
  margin: 10px 0 30px;
}
.reservation-page04 .schedules .prev,
.reservation-page04 .schedules .next {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  color: #20b6c4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  top: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}
.reservation-page04 .schedules .prev {
  left: 3px;
}
.reservation-page04 .schedules .next {
  right: 3px;
}
.reservation-page04 .schedules .schedule {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.reservation-page04 .schedules .schedule + .schedule {
  border-left: 1px solid #d2d2d2;
}
.reservation-page04 .schedules .schedule > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  flex: 1 1;
}
.reservation-page04 .schedules .schedule > div + div {
  border-top: 1px solid #d2d2d2;
}
.reservation-page04 .schedules .schedule > div.open {
  background-color: #fff;
}
.reservation-page04 .schedules .schedule > div.close {
  background-color: #eee;
}
.reservation-page04 .schedules .schedule > div.blocked {
  color: #b22829;
  background-color: currentColor;
}
.reservation-page04 .schedules .schedule > div.blocked + .blocked {
  border-top: 1px solid currentColor;
}
.reservation-page04 .schedules .schedule > div.selected {
  color: #20b6c4;
  background-color: currentColor;
}
.reservation-page04 .schedules .schedule > div.selected + .selected {
  border-top: 1px solid currentColor;
}
.reservation-page04 .schedules .schedule .date {
  padding: 12px 4px;
  flex: 1 1;
  letter-spacing: 1px;
}
.reservation-page04 .description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
}
.reservation-page04 .description > div {
  display: flex;
  align-items: center;
}
.reservation-page04 .description > div + div {
  margin-left: 3px;
}
.reservation-page04 .description > div:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
}
.reservation-page04 .description > div.open:before {
  border: 1px solid #d2d2d2;
  background-color: #fff;
}
.reservation-page04 .description > div.close:before {
  background-color: #eee;
}
.reservation-page04 .description > div.blocked:before {
  background-color: #b22829;
}
.reservation-page04 .description > div.selected:before {
  background-color: #20b6c4;
}
.reservation-page04 .bottom {
  height: 70px;
  font-size: 16px;
}
.reservation-page04 .bottom .button-group {
  padding: 15px 0 25px;
}

.reservation-page05 {
  display: none;
}
.reservation-page05 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservation-page05 .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.reservation-page05 .container .block {
  border-radius: 10px;
  background: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
}
.reservation-page05 .container .block .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.reservation-page05 .container .block .mark {
  color: #20b6c4;
}
.reservation-page05 .container .block .content {
  padding: 5px 38px;
}
.reservation-page05 .container .block .bottom {
  height: initial;
}
.reservation-page05 .container .block .bottom .button-group {
  padding: 0;
}
.reservation-page05 .container .block .bottom .button-group button {
  background: #f2f2f2;
}

.reservation-page06 {
  display: none;
}
.reservation-page06 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservation-page06 .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.reservation-page06 .container > div {
  line-height: 24px;
}
.reservation-page06 .bottom {
  height: 100px;
}

.reservation-page07 {
  display: none;
}
.reservation-page07 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservation-page07 .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.reservation-page07 .container .mark {
  color: #20b6c4;
}
.reservation-page07 .container > div {
  line-height: 24px;
}
.reservation-page07 .bottom {
  height: 100px;
}

.reservation-page08 {
  display: none;
}
.reservation-page08.meeting-room .container .block .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservation-page08.meeting-room .container .block .content img {
  display: block;
}
.reservation-page08 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservation-page08 .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.reservation-page08 .container .block {
  border-radius: 10px;
  background: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
}
.reservation-page08 .container .block .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.reservation-page08 .container .block .mark {
  color: #20b6c4;
}
.reservation-page08 .container .block .content {
  margin: 10px 0;
}
.reservation-page08 .container .block .content img {
  display: none;
}
.reservation-page08 .bottom {
  height: 100px;
  padding-top: 20px;
}
.reservation-page08 .bottom .button-group {
  padding: 0;
}
.reservation-page08 .bottom > .button-group + .button-group {
  padding-top: 20px;
}

.reservation-page09 {
  display: none;
}
.reservation-page09 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservation-page09 .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.reservation-page09 .container > div {
  line-height: 24px;
}
.reservation-page09 .container > .input-field + .input-field {
  padding-top: 10px;
}
.reservation-page09 .bottom {
  height: 150px;
}
.reservation-page09 .bottom .button-group {
  padding-bottom: 0;
}

.cost-page {
  display: none;
}
.cost-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cost-page .wrapper .block {
  width: 100%;
  flex: 1;
}
.cost-page .wrapper .block .header {
  display: flex;
  justify-content: space-between;
}
.cost-page .wrapper .block .header h2 {
  flex: 1;
}
.cost-page .wrapper .block .header .status {
  font-size: 20px;
  font-weight: bold;
}
.cost-page .wrapper .block .header .status.paid {
  color: #848484;
}
.cost-page .wrapper .block .header .status.unpaid {
  color: #20b6c4;
}
.cost-page .wrapper .block .details-info {
  padding: 10px 0;
}
.cost-page .wrapper .block .details-info .item {
  display: flex;
  justify-content: space-between;
  color: #848484;
  font-size: 14px;
  line-height: 24px;
}
.cost-page .wrapper .block .details-info .item label {
  padding-left: 15px;
}
.cost-page .wrapper .block .bottom {
  height: initial;
}
.cost-page .wrapper .block .bottom .button-group {
  justify-content: flex-end;
}

.cost-page01 {
  display: none;
}
.cost-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cost-page01 .wrapper .block {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.cost-page01 .wrapper .block .prompt {
  padding: 10px 15px 25px;
}
.cost-page01 .wrapper .block .header {
  display: flex;
  justify-content: space-between;
}
.cost-page01 .wrapper .block .header h2 {
  flex: 1;
}
.cost-page01 .wrapper .block .header .status {
  font-size: 20px;
  font-weight: bold;
}
.cost-page01 .wrapper .block .header .status.paid {
  color: #848484;
}
.cost-page01 .wrapper .block .header .status.unpaid {
  color: #20b6c4;
}
.cost-page01 .wrapper .block .bottom {
  height: 100px;
}
.cost-page01 .wrapper .block .bottom .button-group {
  justify-content: flex-end;
  padding: 0;
}
.cost-page01 .wrapper .item {
  display: flex;
  justify-content: space-between;
  color: #848484;
  font-size: 14px;
  line-height: 24px;
}
.cost-page01 .wrapper .item label {
  padding-left: 15px;
}
.cost-page01 .wrapper .cost-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cost-page01 .wrapper .cost-info .row {
  padding: 5px 15px;
  border-top: 1px solid #848484;
  border-bottom: 1px solid #848484;
  font-size: 14px;
}
.cost-page01 .wrapper .cost-info .row.content {
  overflow: auto;
  flex: 1;
  border: none;
}
.cost-page01 .wrapper .cost-info .row .item {
  margin: 0;
  color: #000;
}
.cost-page01 .wrapper .cost-info .row .item label {
  padding: 0;
}

.points-page {
  display: none;
}
.points-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.points-page .container {
  flex: 1;
}
.points-page .container .details {
  border-bottom: 1px solid #f2f2f2;
}
.points-page .container .item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  line-height: 24px;
}
.points-page .container .item.title {
  border-bottom: 1px solid #f2f2f2;
  color: #2f2260;
  font-size: 20px;
  font-weight: bold;
}

.points-page01 {
  display: none;
  padding: 0;
}
.points-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.points-page01 .wrapper hr {
  width: 90%;
  border: 2px solid #f2f2f2;
  margin: 0 auto;
}
.points-page01 .wrapper .title {
  padding: 0 20px;
}
.points-page01 .wrapper .container {
  flex: 1;
  padding: 10px 20px;
  overflow: auto;
}
.points-page01 .wrapper .container > div + div {
  margin-top: 10px;
}
.points-page01 .wrapper .container .record {
  padding: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #2f2260;
}
.points-page01 .wrapper .container .give-point {
  background: #aedce3;
}
.points-page01 .wrapper .container .use-point {
  background: #9db7d4;
}
.points-page01 .wrapper .bottom {
  height: initial;
}
.points-page01 .wrapper .bottom .button-group {
  padding: 15px 0 25px;
}

.points-page02 {
  display: none;
}
.points-page02 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.points-page02 .container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.points-page02 .container .choice {
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.678);
  flex: 1;
}

.apply-page {
  display: none;
}
.apply-page .container {
  padding: 0;
}
.apply-page .menu {
  width: 100%;
  height: 100%;
  color: #20b6c4;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.apply-page .menu .menu-item {
  width: calc(100% / 2);
  height: calc(100% / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.apply-page .menu img {
  width: 60px;
  height: 60px;
}

.network-page {
  display: none;
}
.network-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.network-page .back-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.network-page .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.network-page .container .choice {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.678);
  flex: 1;
}
.network-page .bottom {
  height: 200px;
}

.network-page01 {
  display: none;
  color: #848484;
}
.network-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.network-page01 .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.network-page01 .container .mark {
  color: #20b6c4;
}
.network-page01 .bottom {
  height: 200px;
}

.clean-page {
  display: none;
}
.clean-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.clean-page .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.clean-page .container > div,
.clean-page .container ul {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.clean-page .container ul {
  padding-left: 18px;
}
.clean-page .container > div {
  margin-top: 10px;
}
.clean-page .bottom {
  height: 120px;
}

.clean-page01 {
  display: none;
}
.clean-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.clean-page01 .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.clean-page01 .container > div {
  line-height: 24px;
}
.clean-page01 .bottom {
  height: 120px;
}
.clean-page01 .bottom .button-group {
  padding-bottom: 0;
}

.repair-page {
  display: none;
}
.repair-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.repair-page .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.repair-page .wrapper .container > div,
.repair-page .wrapper .container ul {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.repair-page .wrapper .container ul {
  padding-left: 18px;
}
.repair-page .wrapper .container textarea {
  width: 100%;
  height: 100%;
  border-color: #848484;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
  font-size: 14px;
}
.repair-page .wrapper .bottom {
  height: 100px;
}

.repair-page01 {
  display: none;
}
.repair-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.repair-page01 .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.repair-page01 .wrapper .container > div {
  line-height: 24px;
}
.repair-page01 .wrapper .bottom {
  height: 100px;
}

.agent-page {
  display: none;
}
.agent-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.agent-page .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.agent-page .wrapper .container > div {
  font-size: 16px;
  line-height: 24px;
}
.agent-page .wrapper .container textarea {
  width: 100%;
  border-color: #848484;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
}
.agent-page .wrapper .bottom {
  height: 125px;
}

.agent-page01 {
  display: none;
}
.agent-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.agent-page01 .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.agent-page01 .wrapper .container > div {
  line-height: 24px;
}
.agent-page01 .wrapper .bottom {
  height: 125px;
}

.recruit-page {
  display: none;
  padding: 0;
}
.recruit-page .back-section {
  padding: 20px;
  width: initial;
  height: initial;
}
.recruit-page .back-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recruit-page .title {
  padding: 0 20px;
}
.recruit-page .container {
  padding: 0;
  margin-top: 15px;
  position: relative;
  height: calc(100% - 234px);
  overflow: auto;
}
.recruit-page .container .item .foreword {
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e4e4e4;
}
.recruit-page .container .item .foreword .text {
  flex: 1;
}
.recruit-page .container .item .foreword .action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.recruit-page .container .item .foreword .action img {
  width: 35px;
  height: 35px;
}
.recruit-page .container .item .foreword .action i {
  color: #a09797;
}
.recruit-page .container .item .dropdown {
  display: none;
}
.recruit-page .container .item .dropdown .text-area {
  padding: 15px 30px;
  border-bottom: 2px solid #e4e4e4;
  background: #f2f2f2;
}
.recruit-page .container .item .dropdown .text-area textarea {
  width: 100%;
  margin-top: 10px;
  background: #f2f2f2;
}
.recruit-page .container .item .dropdown .text-area textarea:disabled {
  border: none;
}
.recruit-page .bottom {
  height: 125px;
}

.recruit-page01 {
  display: none;
}
.recruit-page01 .form {
  padding: 20px 0;
}
.recruit-page01 .form > div + div {
  padding-top: 20px;
}
.recruit-page01 .bottom {
  height: 125px;
}

.recruit-page02 {
  display: none;
}
.recruit-page02 .container > div {
  line-height: 24px;
}
.recruit-page02 .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.recruit-page02 .bottom > button + button {
  margin-left: 20px;
}

.recruit-page03 {
  display: none;
}
.recruit-page03 .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.recruit-page03 .bottom > button + button {
  margin-left: 20px;
}

.rent-house-page {
  display: none;
}
.rent-house-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rent-house-page .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.rent-house-page .container .choice {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.678);
  flex: 1;
  padding-top: 15px;
}
.rent-house-page .container .choice .checkbox > div {
  margin-left: 25px;
}
.rent-house-page .bottom {
  height: 100px;
}

.rent-house-page01 {
  display: none;
}
.rent-house-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rent-house-page01 .container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.rent-house-page01 .container > div {
  font-size: 16px;
  line-height: 24px;
}
.rent-house-page01 .bottom {
  height: 100px;
}

.financing-page {
  display: none;
}
.financing-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.financing-page .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.financing-page .wrapper .container > div {
  font-size: 16px;
  line-height: 24px;
}
.financing-page .wrapper .container textarea {
  width: 100%;
  border-color: #848484;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
}
.financing-page .wrapper .bottom {
  height: 125px;
}

.financing-page01 {
  display: none;
}
.financing-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.financing-page01 .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.financing-page01 .wrapper .container > div {
  font-size: 16px;
  line-height: 24px;
}
.financing-page01 .wrapper .bottom {
  height: 125px;
}

.insurance-page {
  display: none;
}
.insurance-page .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.insurance-page .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.insurance-page .wrapper .container > div {
  font-size: 16px;
  line-height: 24px;
}
.insurance-page .wrapper .container textarea {
  width: 100%;
  border-color: #848484;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
}
.insurance-page .wrapper .bottom {
  height: 125px;
}

.insurance-page01 {
  display: none;
}
.insurance-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.insurance-page01 .wrapper .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.insurance-page01 .wrapper .container > div {
  font-size: 16px;
  line-height: 24px;
}
.insurance-page01 .wrapper .bottom {
  height: 125px;
}

.info-page {
  display: none;
}
.info-page .container {
  padding: 0;
}
.info-page .menu {
  width: 100%;
  height: 100%;
  color: #20b6c4;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.info-page .menu .menu-item {
  width: calc(100% / 2);
  height: calc(100% / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-page .menu img {
  width: 60px;
  height: 60px;
}

.info-page01 {
  display: none;
}
.info-page01 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.info-page01 .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.info-page01 .container > div {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-top: 10px;
  border-bottom: 1px solid #848484;
}

.info-page02 {
  display: none;
  padding: 0;
}
.info-page02 .title {
  padding: 0 20px;
}
.info-page02 .back-section {
  padding: 20px;
  width: initial;
  height: initial;
}
.info-page02 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.info-page02 .container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 0;
}
.info-page02 .container .tab {
  display: flex;
  justify-content: space-around;
}
.info-page02 .container .tab .tabs {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #f2f2f2;
}
.info-page02 .container .tab .tabs.active {
  border-bottom: 3px solid #f2c523;
}
.info-page02 .container .setting-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.info-page02 .container .setting-outer .setting {
  color: #20b6c4;
}
.info-page02 .container .table .header {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 10px 0;
}
.info-page02 .container .table .header .th {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-page02 .container .table .header .th:first-child {
  flex: 0 0 170px;
  justify-content: flex-start;
  padding-left: 20px;
}
.info-page02 .container .table .row {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.info-page02 .container .table .row .td {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.info-page02 .container .table .row .td i {
  color: #20b6c4;
  font-size: 20px;
  position: absolute;
  right: 12px;
}
.info-page02 .container .table .row .td:first-child {
  flex: 0 0 170px;
  justify-content: flex-start;
  padding-left: 20px;
}
.info-page02 .container .table > .row + .row {
  border-top: 1px solid #f2f2f2;
}
.info-page02 .container > div {
  font-size: 16px;
  line-height: 24px;
}

.info-page03 {
  display: none;
}
.info-page03 .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.info-page03 .container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 0;
  overflow: auto;
}
.info-page03 .container > .card + .card {
  margin-top: 15px;
}
.info-page03 .container .card {
  border-left: 5px solid #20b6c4;
  background: #f2f2f2;
  border-radius: 0 10px 10px 0;
}
.info-page03 .container .card > div {
  color: #2f2260;
  margin: 15px 8px;
}
.info-page03 .container .card > p {
  background: #e6e7e9;
  border-radius: 0 0 10px 0;
  padding: 8px;
}