$main-color: #20b6c4;
$grey-color: #848484;
$light-grey-color: #f2f2f2;
$purple-color: #2f2260;

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Arial", "黑體", "微軟正黑體", sans-serif;
}

h2 {
  color: $purple-color;
  border-left: 5px solid $main-color;
  padding-left: 10px;
  font-size: 20px;
  margin: 0;
  width: 100%;
  height: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

p {
  margin: 0;
  color: $grey-color;
  font-size: 14px;
}

button {
  border: 1px solid $main-color;
  background: #fff;
  border-radius: 3px;
  padding: 5px 0;
  min-width: 125px;

  &:focus {
    outline: none;
  }
}

.checkbox {
  span {
    padding-left: 10px;
  }
}

.page {
  width: 100%;
  height: calc(100% - 120px);
  position: relative;
  padding: 20px;
  box-sizing: border-box;

  .back-section {
    width: 100%;
    height: 24px;
    padding-bottom: 20px;

    i {
      font-size: 24px;
      color: #988c8c;
    }
  }

  .container {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 68px);
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  height: 200px;

  .button-group {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    >button+button {
      margin-left: 20px;
    }
  }
}

.description {
  padding: 0 26px;

  ul {
    padding-left: 18px;
    line-height: 22px;
    margin: 0;

    li {
      font-size: 12px;
      color: $grey-color
    }
  }
}

.input-group {
  display: flex;
  border-bottom: 1px solid $grey-color;

  label {
    flex: 1;
  }

  input {
    border: none;
    flex: 2;

    &:focus {
      outline: none;
    }
  }
}

header {
  width: 100%;
  height: 70px;
  color: #fff;
  background: $main-color;
  font-size: 22px;
  display: flex;

  .header-button {
    width: 22px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 22px;
      color: #fff;
    }
  }

  .logo {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 70px;
    }
  }
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  color: $grey-color;
  bottom: 0;
  border-top: 1px solid #e4e4e4;
  box-sizing: border-box;

  img {
    width: 20px;
    height: 20px;
  }

  .tab-bars {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    line-height: 1;

    .bar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-width: 50px;
      width: 100%;

      .icon {
        width: 20px;
        height: 20px;

        &.home {
          background: url("../images/home.png") center center no-repeat;
          background-size: contain;
        }

        &.calendar {
          background: url("../images/calendar.png") center center no-repeat;
          background-size: contain;
        }
      }

      >div+div {
        padding-top: 2px;
      }

      &.active {
        color: $main-color;

        .icon {
          &.home {
            background: url("../images/home-active.png") center center no-repeat;
            background-size: contain;
          }

          &.calendar {
            background: url("../images/calendar-active.png") center center no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }

  .qrcode {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.home-page {
  width: 100%;
  height: calc(100% - 120px);
  position: relative;

  .banner {
    width: 100%;
    height: 59%;
    background: url(../images/tablecloth.jpg) center center no-repeat;
    background-size: cover;
  }

  .menu {
    width: 100%;
    height: 50%;
    background: #fff;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    color: $main-color;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;

    .menu-item {
      width: calc(100% / 3);
      height: calc(100% / 2);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    img {
      width: 60px;
      height: 60px;
    }
  }
}

.reservation-page {
  display: none;
  padding: 25px;

  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .menu {
    border: 1px solid $grey-color;
    border-radius: 20px;
    overflow: hidden;
    width: 240px;

    .image {
      padding: 0;
      display: block;
      width: 100%;
      height: 110px;

      &.meeting-room {
        background: url(../images/reservation01.jpg) center center no-repeat;
        background-size: cover;
      }

      &.gym {
        background: url(../images/reservation02.jpg) center center no-repeat;
        background-size: cover;
      }

      &.spa {
        background: url(../images/reservation03.jpg) center center no-repeat;
        background-size: cover;
      }
    }

    >div {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
  }
}

.reservation-page01 {
  display: none;
  color: $grey-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .back-section {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    >div+div {
      margin-top: 20px;
    }

    .input-field {
      position: relative;

      &.date {
        &::before {
          background: url('../images/input-date.png') no-repeat center center;
          background-size: contain;
        }
      }

      &.time {
        &::before {
          background: url('../images/input-time.png') no-repeat center center;
          background-size: contain;
        }
      }

      &.join {
        &::before {
          background: url('../images/input-select.png') no-repeat center center;
          background-size: contain;
          width: 15px;
          height: 15px;
          right: 27px;
        }
      }

      &::before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 21px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }
  }

  input {
    padding: 20px;
    background: $light-grey-color;
    border: none;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: none;
    width: 20px;
    height: 20px;
    border-width: thin;
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: none;
    width: 20px;
    height: 20px;
    border-width: thin;
  }

  .bottom {
    height: 100px;
  }
}

.reservation-page02 {
  display: none;
  color: $grey-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .back-section {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .choice {
      width: 100%;
      font-size: 15px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.678);
      flex: 1;

      >div+div {
        margin-top: 20px;
      }
    }

    .input-field {
      display: flex;
      align-items: center;

      img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }

      input {
        flex: 1;
      }
    }
  }

  .bottom {
    height: initial;
  }
}

.reservation-page03 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .back-section {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .container {
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 10px;
    }

    .title {
      border-bottom: 1px solid $light-grey-color;
      padding: 10px 0 5px;
      margin-bottom: 10px;
    }

    .block {
      &.open {
        border-radius: 10px;
        background: #f2f2f2;

        .content {
          display: block;
        }

        .footer {
          display: flex;
        }
      }

      &.other {
        .content {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px 0 10px;

        i {
          color: $grey-color;
        }
      }

      .content {
        display: none;
        padding: 5px 38px;
        font-size: 12px;
        line-height: 18px;
      }

      .footer {
        display: none;
        color: $main-color;
        background: #e6e7e9;
        justify-content: center;
        border-radius: 0 0 10px 10px;
        padding: 10px 0;
      }
    }

    >.block+.block {
      margin-top: 15px;
    }

    .input-field {
      input[type="radio"] {
        display: none;
      }

      input[type="radio"]+label:before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        padding: 3px;
        margin-right: 5px;
        background-clip: content-box;
        border: 1px solid #20b6c4;
        background-color: #f2f2f2;
        border-radius: 50%;
      }

      input[type="radio"]:checked+label:before {
        background-color: #20b6c4;
      }

      label {
        display: flex;
        align-items: center;
      }
    }
  }

  .bottom {
    height: initial;
  }
}

.reservation-page04 {
  display: none;
  font-size: 13px;
  color: #8e8e8e;

  .schedules {
    position: relative;
    display: flex;
    height: 100%;
    border: 1px solid #d2d2d2;
    margin: 10px 0 30px;

    .prev,
    .next {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #fff;
      color: #20b6c4;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      top: 8px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
    }

    .prev {
      left: 3px;
    }

    .next {
      right: 3px;
    }

    .schedule {
      display: flex;
      flex-direction: column;
      flex: 1;

      &+.schedule {
        border-left: 1px solid #d2d2d2;
      }

      >div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        flex: 1 1;

        &+div {
          border-top: 1px solid #d2d2d2;
        }

        &.open {
          background-color: #fff;
        }

        &.close {
          background-color: #eee;
        }

        &.blocked {
          color: #b22829;
          background-color: currentColor;

          &+.blocked {
            border-top: 1px solid currentColor;
          }
        }

        &.selected {
          color: #20b6c4;
          background-color: currentColor;

          &+.selected {
            border-top: 1px solid currentColor;
          }
        }
      }

      .date {
        padding: 12px 4px;
        flex: 1 1;
        letter-spacing: 1px;
      }
    }
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px;
    padding: 0;
    font-size: 12px;
    line-height: 14px;

    >div {
      display: flex;
      align-items: center;

      &+div {
        margin-left: 3px;
      }

      &:before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        margin-right: 3px;
      }

      &.open:before {
        border: 1px solid #d2d2d2;
        background-color: #fff;
      }

      &.close:before {
        background-color: #eee;
      }

      &.blocked:before {
        background-color: #b22829;
      }

      &.selected:before {
        background-color: #20b6c4;
      }
    }
  }

  .bottom {
    height: initial;
  }
}

.reservation-page05 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .back-section {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .container {
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .block {
      border-radius: 10px;
      background: #f2f2f2;
      padding: 20px;
      margin-bottom: 10px;

      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
      }

      .mark {
        color: $main-color;
      }

      p {
        line-height: 22px;
      }

      .bottom {
        height: initial;

        .button-group {
          padding: 0;

          button {
            background: #f2f2f2;
          }
        }
      }
    }
  }
}

.reservation-page06 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    >div {
      font-size: 14px;
      padding-top: 20px;
    }
  }

  .bottom {
    height: 100px;
  }
}

.reservation-page07 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .mark {
      color: $main-color;
    }

    >div {
      font-size: 14px;
      padding-top: 20px;
    }
  }

  .bottom {
    height: 100px;
  }
}

.reservation-page08 {
  display: none;

  &.meeting-room {
    .container {
      .block {
        .content {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            display: block;
          }
        }
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .back-section {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .container {
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .block {
      border-radius: 10px;
      background: #f2f2f2;
      padding: 20px;
      margin-bottom: 10px;

      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
      }

      .mark {
        color: $main-color;
      }

      .content {
        margin: 10px 0;

        img {
          display: none;
        }
      }

      p {
        line-height: 22px;
      }
    }
  }

  .bottom {
    height: 100px;
    padding-top: 20px;

    .button-group {
      padding: 0;
    }

    >.button-group+.button-group {
      padding-top: 20px;
    }
  }
}

.reservation-page09 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;

    >div {
      font-size: 14px;
      padding-top: 20px;
    }
  }

  .bottom {
    height: 150px;

    .button-group {
      padding-bottom: 0;
    }
  }
}

.cost-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .block {
      width: 100%;
      flex: 1;

      .header {
        display: flex;
        justify-content: space-between;

        h2 {
          flex: 1;
        }

        .status {
          font-size: 20px;
          font-weight: bold;

          &.paid {
            color: $grey-color;
          }

          &.unpaid {
            color: $main-color;
          }
        }
      }

      .item {
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
        color: $grey-color;
        font-size: 12px;

        label {
          padding-left: 15px;
        }
      }

      .bottom {
        height: initial;

        .button-group {
          justify-content: flex-end;
          padding: 0;
        }
      }
    }
  }
}

.cost-page01 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .block {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;

      .prompt {
        padding: 10px 15px 25px
      }

      .header {
        display: flex;
        justify-content: space-between;

        h2 {
          flex: 1;
        }

        .status {
          font-size: 20px;
          font-weight: bold;

          &.paid {
            color: $grey-color;
          }

          &.unpaid {
            color: $main-color;
          }
        }
      }

      .bottom {
        height: 100px;

        .button-group {
          justify-content: flex-end;
          padding: 0;
        }
      }
    }

    .item {
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
      color: $grey-color;
      font-size: 12px;

      label {
        padding-left: 15px;
      }
    }

    .cost-info {
      flex: 1;
      display: flex;
      flex-direction: column;

      .row {
        padding: 5px 15px;
        border-top: 1px solid $grey-color;
        border-bottom: 1px solid $grey-color;
        font-size: 12px;

        &.content {
          overflow: auto;
          flex: 1;
          border: none
        }

        .item {
          margin: 0;
          color: #000;

          label {
            padding: 0;
          }
        }
      }
    }
  }
}

.points-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    height: initial;

    .details {
      border-bottom: 1px solid $light-grey-color;
    }

    .item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 12px;

      &.title {
        border-bottom: 1px solid $light-grey-color;
        color: $purple-color;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .bottom {
    height: initial;
  }
}

.points-page01 {
  display: none;
  padding: 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    hr {
      width: 90%;
      border: 2px solid $light-grey-color;
      margin: 0 auto;
    }

    .title {
      padding: 0 20px;
    }

    .container {
      flex: 1;
      padding: 10px 20px;
      overflow: auto;

      >div+div {
        margin-top: 10px;
      }

      .record {
        padding: 10px;
        font-size: 14px;
        color: $purple-color;

        >div+div {
          margin-top: 10px;
        }
      }

      .give-point {
        background: #aedce3;
      }

      .use-point {
        background: #9db7d4;
      }
    }

    .bottom {
      height: initial;

      .button-group {
        padding-bottom: 25px;
      }
    }
  }
}

.points-page02 {
  display: none;
  color: $grey-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;

    .choice {
      width: 100%;
      font-size: 15px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.678);
      flex: 1;
      padding-top: 15px;
    }
  }
}

.apply-page {
  display: none;

  .container {
    padding: 0;
  }

  .menu {
    width: 100%;
    height: 100%;
    color: $main-color;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    .menu-item {
      width: calc(100% / 2);
      height: calc(100% / 4);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    img {
      width: 60px;
      height: 60px;
    }
  }
}

.network-page {
  display: none;
  color: $grey-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .back-section {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .choice {
      width: 100%;
      font-size: 15px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.678);
      flex: 1;
      padding-top: 15px;
    }
  }
}

.network-page01 {
  display: none;
  color: $grey-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .mark {
      color: DarkTurquoise;
    }

    >p {
      line-height: 20px;
    }
  }
}

.clean-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;

    >div,
    ul {
      font-size: 14px;
      line-height: 22px;
      margin: 0;
    }

    >div {
      margin-top: 10px;
    }
  }

  .bottom {
    height: 150px;
  }
}

.clean-page01 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;

    >div {
      font-size: 14px;
      padding-top: 20px;
    }
  }

  .bottom {
    height: 150px;

    .button-group {
      padding-bottom: 0;
    }
  }
}

.repair-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div,
      ul {
        font-size: 14px;
        line-height: 22px;
        margin: 0;
      }

      textarea {
        width: 100%;
        height: 100%;
        border-color: $grey-color;
        border-radius: 5px;
        margin-top: 20px;
        padding: 5px;
        font-size: 14px;
      }
    }

    .bottom {
      height: 100px;
    }
  }
}

.repair-page01 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div {
        font-size: 14px;
        padding-top: 20px;
      }
    }

    .bottom {
      height: 125px;
    }
  }
}

.agent-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div {
        font-size: 14px;
        padding-top: 20px;
        line-height: 1;
      }

      textarea {
        width: 100%;
        border-color: $grey-color;
        border-radius: 5px;
        margin-top: 20px;
        padding: 5px;
      }
    }

    .bottom {
      height: 125px;
    }
  }
}

.agent-page01 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div {
        font-size: 14px;
        padding-top: 20px;
      }
    }

    .bottom {
      height: 125px;
    }
  }
}

.recruit-page {
  display: none;
  padding: 0;

  .back-section {
    padding: 20px;
    width: initial;
    height: initial;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .title {
    padding: 0 20px;
  }

  .container {
    padding: 0;
    margin-top: 15px;
    position: relative;
    height: calc(100% - 234px);
    overflow: auto;

    .item {
      .foreword {
        padding: 0 30px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #e4e4e4;

        .text {
          flex: 1;
        }

        .action {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex: 1;

          img {
            width: 35px;
            height: 35px;
          }

          i {
            color: #a09797;
          }
        }
      }

      .dropdown {
        display: none;

        .text-area {
          padding: 15px 30px;
          border-bottom: 2px solid #e4e4e4;
          background: $light-grey-color;

          textarea {
            width: 100%;
            margin-top: 10px;
            background: $light-grey-color;

            &:disabled {
              border: none
            }
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
  }
}

.recruit-page01 {
  display: none;

  .form {
    padding: 20px 0;

    >div+div {
      padding-top: 20px;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.recruit-page02 {
  display: none;

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    >button+button {
      margin-left: 20px;
    }
  }
}

.recruit-page03 {
  display: none;

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    >button+button {
      margin-left: 20px;
    }
  }
}

.rent-house-page {
  display: none;
  color: $grey-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .back-section {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .choice {
      width: 100%;
      font-size: 15px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.678);
      flex: 1;
      padding-top: 15px;

      .checkbox {

        >div {
          margin-left: 25px;
        }
      }
    }
  }

  .bottom {
    height: 100px;
  }
}

.rent-house-page01 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    >div {
      font-size: 14px;
      padding-top: 20px;
    }
  }

  .bottom {
    height: 100px;
  }
}

.financing-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div {
        font-size: 14px;
        padding-top: 20px;
        line-height: 1;
      }

      textarea {
        width: 100%;
        border-color: $grey-color;
        border-radius: 5px;
        margin-top: 20px;
        padding: 5px;
      }
    }

    .bottom {
      height: 125px;
    }
  }
}

.financing-page01 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div {
        font-size: 14px;
        padding-top: 20px;
      }
    }

    .bottom {
      height: 125px;
    }
  }
}

.insurance-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div {
        font-size: 14px;
        padding-top: 20px;
        line-height: 1;
      }

      textarea {
        width: 100%;
        border-color: $grey-color;
        border-radius: 5px;
        margin-top: 20px;
        padding: 5px;
      }
    }

    .bottom {
      height: 125px;
    }
  }
}

.insurance-page01 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div {
        font-size: 14px;
        padding-top: 20px;
      }
    }

    .bottom {
      height: 125px;
    }
  }
}