$main-color: #20b6c4;
$grey-color: #848484;

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft JhengHei", serif;
}

h2 {
  color: #5242a2;
  border-left: 5px solid $main-color;
  padding-left: 10px;
  font-size: 20px;
  margin: 0;
  width: 100%;
  height: 24px;
  box-sizing: border-box;
}

p {
  margin: 0;
  color: $grey-color;
  font-size: 14px;
}

button {
  border: 1px solid $main-color;
  background: #fff;
  border-radius: 3px;
  padding: 5px 0;
  min-width: 125px;

  &:focus {
    outline: none;
  }
}

.checkbox {
  span {
    padding-left: 10px;
  }
}

.page {
  width: 100%;
  height: calc(100% - 120px);
  position: relative;
  padding: 20px;
  box-sizing: border-box;

  .back-section {
    width: 100%;
    height: 24px;
    padding-bottom: 20px;

    i {
      font-size: 24px;
      color: #988c8c;
    }
  }

  .container {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 68px);
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  height: 200px;

  .button-group {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    >button+button {
      margin-left: 20px;
    }
  }
}

.description {
  padding: 0 26px;

  ul {
    padding-left: 18px;
    line-height: 22px;
    margin: 0;

    li {
      font-size: 12px;
      color: $grey-color
    }
  }
}

.input-group {
  display: flex;
  border-bottom: 1px solid $grey-color;

  label {
    flex: 1;
  }

  input {
    border: none;
    flex: 2;

    &:focus {
      outline: none;
    }
  }
}

header {
  width: 100%;
  height: 70px;
  color: #fff;
  background: $main-color;
  font-size: 22px;
  display: flex;

  .header-button {
    width: 22px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 22px;
      color: #fff;
    }
  }

  .logo {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 70px;
    }
  }
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  color: $grey-color;
  bottom: 0;
  border-top: 1px solid #e4e4e4;
  box-sizing: border-box;

  img {
    width: 20px;
    height: 20px;
  }

  .tab-bars {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    line-height: 1;

    .bar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-width: 50px;
      width: 100%;

      .icon {
        width: 20px;
        height: 20px;

        &.home {
          background: url("../images/home.png") center center no-repeat;
          background-size: contain;
        }

        &.calendar {
          background: url("../images/calendar.png") center center no-repeat;
          background-size: contain;
        }
      }

      >div+div {
        padding-top: 2px;
      }

      &.active {
        color: $main-color;

        .icon {
          &.home {
            background: url("../images/home-active.png") center center no-repeat;
            background-size: contain;
          }

          &.calendar {
            background: url("../images/calendar-active.png") center center no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }

  .qrcode {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.home-page {
  width: 100%;
  height: calc(100% - 120px);
  position: relative;

  .banner {
    width: 100%;
    height: 59%;
    background: url(../images/tablecloth.jpg) center center no-repeat;
    background-size: cover;
  }

  .menu {
    width: 100%;
    height: 50%;
    background: #fff;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    color: $main-color;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;

    .menu-item {
      width: calc(100% / 3);
      height: calc(100% / 2);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    img {
      width: 60px;
      height: 60px;
    }
  }
}

.points-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    height: initial;

    .details {
      border-bottom: 1px solid #f2f2f2;
    }

    .item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 12px;

      &.title {
        border-bottom: 1px solid #f2f2f2;
        color: #563fad;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .bottom {
    height: initial;


  }
}

.points-page01 {
  display: none;
  padding: 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    hr {
      width: 90%;
      border: 2px solid #f2f2f2;
      margin: 0 auto;
    }

    .title {
      padding: 0 20px;
    }

    .container {
      flex: 1;
      padding: 10px 20px;
      overflow: auto;

      >div+div {
        margin-top: 10px;
      }

      .record {
        padding: 10px;
        font-size: 14px;

        >div+div {
          margin-top: 10px;
        }
      }

      .give-point {
        background: #aedce3;
      }

      .use-point {
        background: #9db7d4;
      }
    }

    .bottom {
      height: initial;

      .button-group {
        padding-bottom: 25px;
      }
    }
  }
}

.points-page02 {
  display: none;
  color: $grey-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;

    .choice {
      width: 100%;
      font-size: 15px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.678);
      flex: 1;
      padding-top: 15px;
    }
  }
}

.apply-page {
  display: none;

  .container {
    padding: 0;
  }

  .menu {
    width: 100%;
    height: 100%;
    color: $main-color;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    .menu-item {
      width: calc(100% / 2);
      height: calc(100% / 4);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    img {
      width: 60px;
      height: 60px;
    }
  }
}

.network-page {
  display: none;
  color: $grey-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .back-section {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .choice {
      width: 100%;
      font-size: 15px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.678);
      flex: 1;
      padding-top: 15px;
    }
  }
}

.network-page01 {
  display: none;
  color: $grey-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .mark {
      color: DarkTurquoise;
    }

    >p {
      line-height: 20px;
    }
  }
}

.clean-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    ul {
      padding-left: 18px;
      padding-bottom: 20px;
      line-height: 22px;
      margin: 0;
    }

    >p {
      padding-bottom: 20px;
      line-height: 20px;
    }
  }

  .bottom {
    height: 150px;
  }
}

.clean-page01 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    margin-top: 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    >div {
      line-height: 22px;
    }
  }

  .bottom {
    height: 150px;

    .button-group {
      padding-bottom: 0;
    }
  }
}

.agent-page {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div {
        font-size: 14px;
        padding-top: 20px;
        line-height: 1;
      }

      textarea {
        width: 100%;
        border-color: $grey-color;
        border-radius: 5px;
        margin-top: 20px;
        padding: 5px;
      }
    }

    .bottom {
      height: 125px;
    }
  }
}

.agent-page01 {
  display: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      >div {
        font-size: 14px;
        padding-top: 20px;
      }
    }

    .bottom {
      height: 125px;
    }
  }
}

.recruit-page {
  display: none;
  padding: 0;

  .back-section {
    padding: 20px;
    width: initial;
    height: initial;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .title {
    padding: 0 20px;
  }

  .container {
    padding: 0;
    margin-top: 15px;
    position: relative;
    height: calc(100% - 234px);
    overflow: auto;

    .item {
      .foreword {
        padding: 0 30px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #e4e4e4;

        .text {
          flex: 1;
        }

        .action {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex: 1;

          img {
            width: 35px;
            height: 35px;
          }

          i {
            color: #a09797;
          }
        }
      }

      .dropdown {
        display: none;

        .text-area {
          padding: 15px 30px;
          border-bottom: 2px solid #e4e4e4;
          background: #f2f2f2;

          textarea {
            width: 100%;
            margin-top: 10px;
            background: #f2f2f2;

            &:disabled {
              border: none
            }
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
  }
}

.recruit-page01 {
  display: none;

  .form {
    padding: 20px 0;

    >div+div {
      padding-top: 20px;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.recruit-page02 {
  display: none;

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    >button+button {
      margin-left: 20px;
    }
  }
}

.recruit-page03 {
  display: none;

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    >button+button {
      margin-left: 20px;
    }
  }
}